@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #000;
    --color-white: #fff;

    --color-neutral-50: #f9fafb;
    --color-neutral-100: #eff2f5;
    --color-neutral-200: #e4e5e9;
    --color-neutral-300: #d5d7de;
    --color-neutral-400: #abafb8;
    --color-neutral-500: #868d97;
    --color-neutral-600: #4c4e55;
    --color-neutral-700: #2f3138;
    --color-neutral-800: #242529;
    --color-neutral-900: #161819;

    --color-secondary-50: #e7ecfd;
    --color-secondary-100: #b7c6fa;
    --color-secondary-200: #87a0f7;
    --color-secondary-300: #5779f4;
    --color-secondary-400: #2652f1;
    --color-secondary-500: #0e3ad8;
    --color-secondary-600: #0b2da8;
    --color-secondary-700: #082078;
    --color-secondary-800: #051348;
    --color-secondary-900: #020618;

    --color-skyblue-50: #ecf9fe;
    --color-skyblue-100: #d8f4fd;
    --color-skyblue-200: #b1e8fb;
    --color-skyblue-300: #77d6f8;
    --color-skyblue-400: #29bff5;
    --color-skyblue-500: #0ba8e0;
    --color-skyblue-600: #0983af;
    --color-skyblue-700: #065f7e;
    --color-skyblue-800: #043a4e;
    --color-skyblue-900: #01161d;

    --color-critical-100: #feecec;
    --color-critical-200: #fddad8;
    --color-critical-300: #fbb5b1;
    --color-critical-400: #f87d77;
    --color-critical-500: #e32217;
    --color-critical-600: #b91c13;
    --color-critical-700: #8b150e;

    --color-warning-100: #fef8ec;
    --color-warning-200: #fdf0d8;
    --color-warning-300: #fbe1b1;
    --color-warning-400: #f8cb77;
    --color-warning-500: #f2a00d;

    --color-success-100: #f2feec;
    --color-success-200: #e6fdd8;
    --color-success-300: #ccfbb1;
    --color-success-400: #a6f877;
    --color-success-500: #60dd18;

    --color-info-100: #ecf5fe;
    --color-info-200: #d8ebfd;
    --color-info-300: #b1d6fb;
    --color-info-400: #77b8f8;
    --color-info-500: #4da3f9;

    --site-bg: #f8fafc;
  }

  html[data-mode='dark'] {
    @apply bg-slate-800 text-white;
  }

  * {
    letter-spacing: -0.04rem;
  }

  body {
    margin: 0;
    font-family: 'Manrope';
    background-color: var(--site-bg);
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
